html  {
  background-color: #ead4f3;
}

body {
  margin: 0 0 0 0;
  font-family: 'Georgia', serif;
}

header {
  margin: 0;
  padding: 1em;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 60px;
  font-style: normal; /* normal */
  font-family: 'Sigmar One', cursive;
  align: center;
  text-align: center;
  margin: 0 0.5em 0.5em 0.05em;
  color: #fff
}

nav {
  align: center;
}
nav ol a {

  text-align: center;
  padding: 1em;
  margin: 2em 0.5em 0 1.25em;
  line-height: 3.5em;
  background-color: #ead4f3;
  color: #000;
  text-decoration: none;
  border: 5px;
  border-radius: 4px;
  width: 3em;
}

nav a:hover {
  background-color: white;
}

nav li {
  display: inline-block;
}

header {
  background-color: #891561;
  padding: 1em 1em 1em 1em;
}

h2 {
  font-weight: normal;
  font-size: 28px;
  font-family: 'Sigmar One', cursive;
  color: #891561
  ;border-top: solid #891561 0.2rem;
}

h3 {
  font-weight: normal;
  font-size: 14px;
  font-family: 'Sigmar One', cursive;
  color: #891561
}

blockquote {
  text-align: left;
  font-size: 20px;
  font-style: italic; /* normal, italic */
  color: gray;
}

.name {
  text-align: right;
  font-size: 17px;
  font-style: italic; /* normal, italic */
  color: gray
}

  figcaption {
    text-align: center;
    font-size: 10px;
    font-style: italic; /* normal, italic */
  }

  figure {
    border: 1px solid gray;
    background-color: #efb6c9;
    border-radius: 0.5em;
    padding: 2em 2em 1em 0.75em;
  }

  img {
    width: 100%;
    padding: 0.75em 0.75em 1em 0.75em;
  }

li {
  list-style-type: none;
  line-height: 2;
}

.serving {
  font-style: italic; /* normal, italic */
}

 dt {
  font-weight: bold;
}

ul{
  margin: 0;
  padding: 0;
}

footer {
  margin: 0;
  background-color: #891561;
  ;padding: 1em 1em 1em 1em;
  color: #fff;
  text-align: center;
  font-size: 10px;
}

footer p a {
  color: #efb6c9;
}

div {
  padding: 0.2em;
}
